/DoubleDoubleBonusPoker/Release
/DoubleDoubleBonusPoker/Debug
/DoubleDoubleBonusPoker/DoubleDoubleBonusPoker/Debug
/DoubleDoubleBonusPoker/DoubleDoubleBonusPoker/Release
/DoubleDoubleBonusPoker/DoubleDoubleBonusPoker/BestPlay.dat
/DoubleDoubleBonusPoker/DoubleDoubleBonusPoker/CurrentCounter.txt
/_Engine Test/.vs
/_Engine Test/Debug
/_Engine Test/_Engine Test/Debug
/_Engine Test/Release
/_Engine Test/_Engine Test/Release
/ArcadiaEngine_Old/Release
/ArcadiaEngine_Old/UpgradeLog.htm
/ArcadiaEngine_Old/.vs
/ArcadiaEngine_Old/Debug
/DoubleDoubleBonusPoker/.vs
/World Generation/World Generator 2/World Generator/.vs
/World Generation/World Generator 2/World Generator/Release
/World Generation/World Generator 2/World Generator/World Generator/Release
