<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>2s</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{130,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,183}}</string>
                <key>sourceSize</key>
                <string>{130,183}</string>
            </dict>
            <key>3s</key>
            <dict>
                <key>frame</key>
                <string>{{2,187},{130,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,183}}</string>
                <key>sourceSize</key>
                <string>{130,183}</string>
            </dict>
            <key>Qs</key>
            <dict>
                <key>frame</key>
                <string>{{134,2},{130,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,183}}</string>
                <key>sourceSize</key>
                <string>{130,183}</string>
            </dict>
            <key>Ks</key>
            <dict>
                <key>frame</key>
                <string>{{2,372},{130,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,183}}</string>
                <key>sourceSize</key>
                <string>{130,183}</string>
            </dict>
            <key>As</key>
            <dict>
                <key>frame</key>
                <string>{{134,187},{130,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,183}}</string>
                <key>sourceSize</key>
                <string>{130,183}</string>
            </dict>
            <key>4s</key>
            <dict>
                <key>frame</key>
                <string>{{266,2},{130,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,183}}</string>
                <key>sourceSize</key>
                <string>{130,183}</string>
            </dict>
            <key>5s</key>
            <dict>
                <key>frame</key>
                <string>{{2,557},{130,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,183}}</string>
                <key>sourceSize</key>
                <string>{130,183}</string>
            </dict>
            <key>6s</key>
            <dict>
                <key>frame</key>
                <string>{{2,742},{130,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,183}}</string>
                <key>sourceSize</key>
                <string>{130,183}</string>
            </dict>
            <key>7s</key>
            <dict>
                <key>frame</key>
                <string>{{134,372},{130,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,183}}</string>
                <key>sourceSize</key>
                <string>{130,183}</string>
            </dict>
            <key>8s</key>
            <dict>
                <key>frame</key>
                <string>{{266,187},{130,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,183}}</string>
                <key>sourceSize</key>
                <string>{130,183}</string>
            </dict>
            <key>9s</key>
            <dict>
                <key>frame</key>
                <string>{{398,2},{130,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,183}}</string>
                <key>sourceSize</key>
                <string>{130,183}</string>
            </dict>
            <key>Ts</key>
            <dict>
                <key>frame</key>
                <string>{{134,557},{130,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,183}}</string>
                <key>sourceSize</key>
                <string>{130,183}</string>
            </dict>
            <key>Js</key>
            <dict>
                <key>frame</key>
                <string>{{134,742},{130,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,183}}</string>
                <key>sourceSize</key>
                <string>{130,183}</string>
            </dict>
            <key>2h</key>
            <dict>
                <key>frame</key>
                <string>{{266,372},{130,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,183}}</string>
                <key>sourceSize</key>
                <string>{130,183}</string>
            </dict>
            <key>3h</key>
            <dict>
                <key>frame</key>
                <string>{{398,187},{130,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,183}}</string>
                <key>sourceSize</key>
                <string>{130,183}</string>
            </dict>
            <key>Qh</key>
            <dict>
                <key>frame</key>
                <string>{{530,2},{130,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,183}}</string>
                <key>sourceSize</key>
                <string>{130,183}</string>
            </dict>
            <key>Kh</key>
            <dict>
                <key>frame</key>
                <string>{{266,557},{130,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,183}}</string>
                <key>sourceSize</key>
                <string>{130,183}</string>
            </dict>
            <key>Ah</key>
            <dict>
                <key>frame</key>
                <string>{{266,742},{130,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,183}}</string>
                <key>sourceSize</key>
                <string>{130,183}</string>
            </dict>
            <key>4h</key>
            <dict>
                <key>frame</key>
                <string>{{398,372},{130,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,183}}</string>
                <key>sourceSize</key>
                <string>{130,183}</string>
            </dict>
            <key>5h</key>
            <dict>
                <key>frame</key>
                <string>{{530,187},{130,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,183}}</string>
                <key>sourceSize</key>
                <string>{130,183}</string>
            </dict>
            <key>6h</key>
            <dict>
                <key>frame</key>
                <string>{{662,2},{130,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,183}}</string>
                <key>sourceSize</key>
                <string>{130,183}</string>
            </dict>
            <key>7h</key>
            <dict>
                <key>frame</key>
                <string>{{398,557},{130,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,183}}</string>
                <key>sourceSize</key>
                <string>{130,183}</string>
            </dict>
            <key>8h</key>
            <dict>
                <key>frame</key>
                <string>{{398,742},{130,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,183}}</string>
                <key>sourceSize</key>
                <string>{130,183}</string>
            </dict>
            <key>9h</key>
            <dict>
                <key>frame</key>
                <string>{{530,372},{130,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,183}}</string>
                <key>sourceSize</key>
                <string>{130,183}</string>
            </dict>
            <key>Th</key>
            <dict>
                <key>frame</key>
                <string>{{662,187},{130,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,183}}</string>
                <key>sourceSize</key>
                <string>{130,183}</string>
            </dict>
            <key>Jh</key>
            <dict>
                <key>frame</key>
                <string>{{794,2},{130,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,183}}</string>
                <key>sourceSize</key>
                <string>{130,183}</string>
            </dict>
            <key>2c</key>
            <dict>
                <key>frame</key>
                <string>{{530,557},{130,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,183}}</string>
                <key>sourceSize</key>
                <string>{130,183}</string>
            </dict>
            <key>3c</key>
            <dict>
                <key>frame</key>
                <string>{{530,742},{130,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,183}}</string>
                <key>sourceSize</key>
                <string>{130,183}</string>
            </dict>
            <key>Qc</key>
            <dict>
                <key>frame</key>
                <string>{{662,372},{130,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,183}}</string>
                <key>sourceSize</key>
                <string>{130,183}</string>
            </dict>
            <key>Kc</key>
            <dict>
                <key>frame</key>
                <string>{{794,187},{130,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,183}}</string>
                <key>sourceSize</key>
                <string>{130,183}</string>
            </dict>
            <key>Ac</key>
            <dict>
                <key>frame</key>
                <string>{{926,2},{130,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,183}}</string>
                <key>sourceSize</key>
                <string>{130,183}</string>
            </dict>
            <key>4c</key>
            <dict>
                <key>frame</key>
                <string>{{662,557},{130,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,183}}</string>
                <key>sourceSize</key>
                <string>{130,183}</string>
            </dict>
            <key>5c</key>
            <dict>
                <key>frame</key>
                <string>{{662,742},{130,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,183}}</string>
                <key>sourceSize</key>
                <string>{130,183}</string>
            </dict>
            <key>6c</key>
            <dict>
                <key>frame</key>
                <string>{{794,372},{130,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,183}}</string>
                <key>sourceSize</key>
                <string>{130,183}</string>
            </dict>
            <key>7c</key>
            <dict>
                <key>frame</key>
                <string>{{926,187},{130,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,183}}</string>
                <key>sourceSize</key>
                <string>{130,183}</string>
            </dict>
            <key>8c</key>
            <dict>
                <key>frame</key>
                <string>{{1058,2},{130,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,183}}</string>
                <key>sourceSize</key>
                <string>{130,183}</string>
            </dict>
            <key>9c</key>
            <dict>
                <key>frame</key>
                <string>{{1190,2},{130,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,183}}</string>
                <key>sourceSize</key>
                <string>{130,183}</string>
            </dict>
            <key>Tc</key>
            <dict>
                <key>frame</key>
                <string>{{1190,134},{130,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,183}}</string>
                <key>sourceSize</key>
                <string>{130,183}</string>
            </dict>
            <key>Jc</key>
            <dict>
                <key>frame</key>
                <string>{{1058,187},{130,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,183}}</string>
                <key>sourceSize</key>
                <string>{130,183}</string>
            </dict>
            <key>2d</key>
            <dict>
                <key>frame</key>
                <string>{{1190,266},{130,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,183}}</string>
                <key>sourceSize</key>
                <string>{130,183}</string>
            </dict>
            <key>3d</key>
            <dict>
                <key>frame</key>
                <string>{{794,557},{130,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,183}}</string>
                <key>sourceSize</key>
                <string>{130,183}</string>
            </dict>
            <key>Qd</key>
            <dict>
                <key>frame</key>
                <string>{{794,742},{130,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,183}}</string>
                <key>sourceSize</key>
                <string>{130,183}</string>
            </dict>
            <key>Kd</key>
            <dict>
                <key>frame</key>
                <string>{{926,372},{130,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,183}}</string>
                <key>sourceSize</key>
                <string>{130,183}</string>
            </dict>
            <key>Ad</key>
            <dict>
                <key>frame</key>
                <string>{{1058,372},{130,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,183}}</string>
                <key>sourceSize</key>
                <string>{130,183}</string>
            </dict>
            <key>4d</key>
            <dict>
                <key>frame</key>
                <string>{{1190,398},{130,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,183}}</string>
                <key>sourceSize</key>
                <string>{130,183}</string>
            </dict>
            <key>5d</key>
            <dict>
                <key>frame</key>
                <string>{{1190,530},{130,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,183}}</string>
                <key>sourceSize</key>
                <string>{130,183}</string>
            </dict>
            <key>6d</key>
            <dict>
                <key>frame</key>
                <string>{{926,557},{130,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,183}}</string>
                <key>sourceSize</key>
                <string>{130,183}</string>
            </dict>
            <key>7d</key>
            <dict>
                <key>frame</key>
                <string>{{926,742},{130,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,183}}</string>
                <key>sourceSize</key>
                <string>{130,183}</string>
            </dict>
            <key>8d</key>
            <dict>
                <key>frame</key>
                <string>{{1058,557},{130,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,183}}</string>
                <key>sourceSize</key>
                <string>{130,183}</string>
            </dict>
            <key>9d</key>
            <dict>
                <key>frame</key>
                <string>{{1058,742},{130,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,183}}</string>
                <key>sourceSize</key>
                <string>{130,183}</string>
            </dict>
            <key>Td</key>
            <dict>
                <key>frame</key>
                <string>{{1190,662},{130,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,183}}</string>
                <key>sourceSize</key>
                <string>{130,183}</string>
            </dict>
            <key>Jd</key>
            <dict>
                <key>frame</key>
                <string>{{1190,794},{130,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,183}}</string>
                <key>sourceSize</key>
                <string>{130,183}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>size</key>
            <string>{1375,927}</string>
            <key>textureFileName</key>
            <string>cards.png</string>
        </dict>
    </dict>
</plist>
